 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Quicksand:wght@500;600;700&display=swap');

 @media( max-width: 768px) {body {height: auto;}}

 $tipografia1: 'Quicksand', sans-serif;
 $tipografia2: 'DM Sans', sans-serif;
 $color-primario: #fefae0;


 





